@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;700&display=swap');

:root {
    scroll-behavior: smooth;
    --main-font: 'Fira Sans Condensed', sans-serif;
    --accent-font: 'Cormorant Garamond', serif;

    --bg-body: rgb(255, 255, 255);
    --bg-top-header: rgb(215, 116, 0);
    --bg-section-darken: linear-gradient(180deg, #090810 0%, #171236 100%);
    --bg-footer: linear-gradient(180deg, #090810 0%, #171236 100%);

    --color-light: rgb(255, 255, 255);
    --accent-color: rgb(215, 116, 0);
    --color-paragraph: rgb(102, 102, 102);

    --main-transition: all 0.5s ease;

    --plan-start-color: rgb(69, 201, 235);
    --plan-basic-color: rgb(255, 174, 0);
    --plan-qualifications-color: rgb(229, 48, 153);

    --button-accent-color: rgb(0, 160, 70);
    --button-accent-hover: rgb(0, 188, 82);

    --social-button-color: rgb(128, 128, 128);
    --social-button-hover: rgb(215, 116, 0);

    --moda-header-color: rgb(240, 248, 255);
}

html body {
    font-family: var(--main-font);
    background: var(--bg-body);
}

/* Button */
.draw-border {
    box-shadow: inset 0 0 0 4px rgb(88, 175, 209);
    color: rgb(88, 175, 209);
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: rgb(255, 229, 147);
}

.draw-border:hover::before, .draw-border:hover::after {
    border-color: rgb(255, 229, 147);
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.8em 1.6em;
    text-transform: uppercase;
}

.btn-main {
    font-size: 1rem;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
    border-radius: 0;
}

.btn-main:focus {
    outline: none;
}

.btn-accent {
    background: none repeat scroll 0 0 var(--button-accent-color);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.btn-accent:hover {
    background: none repeat scroll 0 0 var(--button-accent-hover);
    transition: var(--main-transition);
}

.btn-product {
    padding: 8px 20px;
}

.btn-service {
    padding: 8px 10px;
    text-transform: uppercase;
}

/* Button */
/* Sections base style */
.main-container {
    padding: 80px 0 105px;
}

@media only screen and (max-width: 768px) {
    .main-container {
        padding: 50px 0 75px;
    }
}

/* Sections base style */
/* header */
body.offcanvas-active {
    overflow: hidden;
}

.offcanvas-header {
    display: none;
}

@media (max-width: 992px) {
    .offcanvas-header {
        display:block;
    }

    .offcanvas-header h5 {
        font-family: var(--accent-font);
        text-transform: uppercase;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: black;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
        z-index: 10;
    }

    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }

    .navbar-collapse .btn-close img {
        width: 25px;
    }
}

.bg-header {
    background: var(--bg-top-header);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.navbar {
    background: var(--bg-top-header);
    padding: 0;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url('../img/icons/open-menu.svg');
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-brand {
    color: var(--color-light);
    font-family: var(--accent-font);
    text-transform: uppercase;
    font-size: 1.6rem;
}

.navbar-brand:hover {
    color: var(--color-light);
}

.nav-link {
    color: var(--color-light);
    text-transform: uppercase;
    height: 65px;
}

@media (min-width: 992px) {
    .navbar ul > li > a:hover {
        background: var(--color-light);
        color: var(--accent-color);
        transition: var(--main-transition);
    }
}

@media (max-width: 991px) {
    .navbar ul > li {
        border-bottom: 1px solid var(--color-light);
    }

    .navbar ul > li:hover, .navbar ul > li > a:hover {
        border-bottom: 1px solid var(--accent-color);
        color: var(--accent-color);
        transition: var(--main-transition);
    }

    .navbar-nav {
        width: 100%;
    }
}

/* header */
/*Intro section*/
.intro {
    color: var(--color-light);
    background: var(--bg-section-darken);
}

.intro .main-title {
    font-family: var(--accent-font);
}

.intro .main-img {
    max-height: 550px;
}

@media only screen and (max-width: 768px) {
    .intro .main-img {
        max-width: 100%;
        height: auto;
    }
}

/*Intro section*/
/* Title container */
.title-container .title-section {
    font-size: 4rem;
}

.title-container .subtitle {
    color: var(--color-paragraph);
}

.text-light {
    color: var(--color-light);
}

@media (max-width: 768px) {
    .title-container .title-section {
        font-size: 3rem;
    }
}

/* Title container */
/* Card display */
.secvices-holistic .programs, .secvices-holistic .terraude {
    display: none;
}

.service-programs .holistic, .service-programs .terraude {
    display: none;
}

.secvices-terraude .programs, .secvices-terraude .holistic {
    display: none;
}

/* Card display */
/*Service section*/
.services-img-small {
    width: 211px;
    height: 211px;
}

.services .card {
    max-width: 600px;
    border-radius: 0;
}

.services h2 {
    display: inline-block;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .services .title {
        font-size: 1.5rem;
    }
}

.services h3 {
    font-size: 22px;
    display: inline-block;
    margin-bottom: 10px;
}

.services .title-service {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-paragraph);
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .services .title-service {
        font-size: 18px;
    }
}

.services p {
    color: var(--color-paragraph);
    line-height: 20px;
}

.services .bg-service-dark {
    background: var(--bg-section-darken);
}

.services .service {
    background: var(--color-light);
}

/*Service section*/
.trachining-section {
    background: url(../img/images/bg-teaching.png) no-repeat;
    background-size: cover;
    text-align: center;
}

.table-item {
    background: var(--color-light);
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.table-item ul {
    list-style: none;
    padding: 0;
}

.table-item > button {
    border-radius: 5px;
    font-size: 1.1rem;
    position: relative;
    top: 18px;
}

.table-item > ul > li {
    color: var(--color-paragraph);
}

.table-item b {
    color: var(--color-paragraph);
}

.trachining-section button {
    border: 1px solid transparent;
}

.trachining-section .start-course h3 {
    color: var(--plan-start-color);
}

.trachining-section .start-course .btn-main {
    background-color: var(--plan-start-color);
}

.trachining-section .basic-course h3 {
    color: var(--plan-basic-color);
}

.trachining-section .basic-course .btn-main {
    background-color: var(--plan-basic-color);
}

.trachining-section .qualifications-up h3 {
    color: var(--plan-qualifications-color);
}

.trachining-section .qualifications-up .btn-main {
    background-color: var(--plan-qualifications-color);
}

/* Footer-section */
.footer-section {
    padding: 30px 0 10px 0;
    display: flex;
    align-items: center;
    background: var(--bg-footer);
    color: var(--color-light);
}

.footer-section ul {
    list-style: none;
    justify-content: space-around;
}

.footer-section .social-media {
    line-height: 30px;
    color: var(--color-paragraph);
    font-size: 13px;
    padding: 0;
}

.footer-section .social-media li {
    text-align: center;
    border: medium none;
    border-radius: 50%;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 0 3px 0;
    position: relative;
    height: 35px;
    width: 35px;
    border: 2px solid var(--social-button-color);
}

.footer-section .social-media li a img {
    width: 20px;
    height: 20px;
}

.footer-section .social-media li:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-color: var(--social-button-hover);
}

.footer-section .social-media li a:hover, .footer-section .social-media li a:focus {
    color: var(--social-button-hover);
    background-position: 0 -23px;
}

.footer-section .social-media li a:hover a::before {
    color: var(--social-button-hover);
}

.footer-section .social-media li a::before {
    font-size: 15px;
    /* font-family: "FontAwesome"; */
    background-image: url('../img/icons/open-menu.svg');
    width: 10px;
    height: 10px;
    display: inline-block;
    font-weight: 400;
    color: var(--social-button-color);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-align: center;
}

.footer-section .copyright ul li a {
    color: var(--color-light);
}

.footer-section .copyright ul li a:hover {
    color: var(--accent-color);
    transition: var(--main-transition);
    text-decoration: none;
}

.footer-section .copyright span {
    color: var(--color-paragraph);
    font-size: 14px;
}

/* Footer-section */
/* Prodact section */
.card {
    height: 100%;
}

.card:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    transition: var(--main-transition);
}

.card .card-title::after {
    content: '';
    height: 44px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),#fff 100%,#fff 10%,#fff);
    background: -ms-linear-gradient(top,rgba(255,255,255,0),#fff 100%,#fff 10%,#fff);
    background: linear-gradient(to bottom ,rgba(255,255,255,0),#fff 100%,#fff 10%,#fff);
}

.services .card .card-title {
    font-weight: 400;
    margin: 10px 0 0 0;
    height: 70px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 768px) {
    .services .card .card-title {
        height: 50px;
    }
}

.products-section .card .card-title {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 0 0;
    height: 80px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.prod {
    display: none;
}

.card .card-body {
    padding: 10px;
}

.medicafarm {
    display: block;
}

.nav-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
}

.nav-tabs .nav-item {
    border: 1px solid transparent;
    min-height: 100px;
    background: var(--moda-header-color);
}

.nav-tabs .nav-link {
    padding-bottom: 42%;
    border-bottom: 1px solid transparent;
}

.nav-tabs .nav-link img {
    max-width: 176px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: transparent;
    color: transparent;
    background-color: transparent;
    border-bottom: 1px solid var(--accent-color);
    transition: var(--main-transition);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    border-bottom: 1px solid var(--accent-color);
    transition: var(--main-transition);
}

.alert {
    position: fixed;
    top: 50px;
    width: 50%;
    left: 25%;
    z-index: 1051;
}

/* Product section */
/* Modal */
#modal-products .modal-header, #modal-teaching .modal-header, #modal-services .modal-header {
    background: var(--moda-header-color);
    text-transform: uppercase;
}

.modal .close img {
    width: 20px;
    height: 20px;
}

.modal-content {
    border-radius: 0;
    border: none;
    color: var(--color-paragraph);
}

input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(215, 116, 0, 0.8);
    box-shadow: 0 1px 1px rgba(215, 116, 0, 0.075) inset, 0 0 8px rgba(215, 116, 0, 0.6);
    outline: 0 none;
}

.modal .start-course h3 {
    color: var(--plan-start-color);
}

.modal .basic-course h3 {
    color: var(--plan-basic-color);
}

.modal .qualifications-up h3 {
    color: var(--plan-qualifications-color);
}

@media (max-width: 768px) {
    #modal-products h5, #modal-products h4 {
        font-size: 16px;
    }

    #modal-products .col-form-label {
        font-size: 13px;
    }

    #modal-teaching h3 {
        font-size: 18px;
    }

    #modal-teaching h4 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .modal .col-form-label {
        font-size: 13px;
    }
}
/* Modal */